<h3 *ngIf="name">Witaj {{ name }}</h3>

<mat-grid-list cols="1" rowHeight="2:1">

  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Poproś o pomoc
        </mat-card-title>
        <mat-card-subtitle>
          Aby zarejestrować prośbę o pomoc kliknij przycisk poniżej.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="getHelp()">Zgłoś potrzebę</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Zaoferuj pomoc
        </mat-card-title>
        <mat-card-subtitle>
          Jeśli chcesz udzielić komuś pomocy kliknij przycisk poniżej.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="giveHelp()">Zaoferuj pomoc</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>

