<h4>Prośby o pomoc:</h4>
<mat-accordion>

  <ng-container *ngFor="let item of items; let i = index;">
  <mat-expansion-panel (opened)="item.open = true" (closed)="item.open = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
       {{ item.category }}
      </mat-panel-title>
      <mat-panel-description>
        {{ item.timeBox }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ item.description }}</p>
<!--    <div *ngIf="i === 0" #mapRef style="width:100%;height:400px"></div>-->
    <button mat-raised-button color="primary" (click)="offerHelp(item.id)">Zaoferuj swoją pomoc</button>
  </mat-expansion-panel>
  </ng-container>
</mat-accordion>
