<h4 style="margin-left: 16px">Prośby o pomoc:</h4>

<mat-accordion>
  <mat-expansion-panel (opened)="mockedItem.open = true" (closed)="mockedItem.open = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ mockedItem.category }}
      </mat-panel-title>
      <mat-panel-description>
        {{ mockedItem.timeBox }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ mockedItem.description }}</p>
    <div #mapRef style="width:100%;height:400px; margin-bottom: 10px; margin-top: 5px"></div>
    <button mat-raised-button color="primary" (click)="offerHelp(mockedItem.id)">Zaoferuj swoją pomoc</button>
  </mat-expansion-panel>
  <ng-container *ngFor="let item of items; let i = index;">
  <mat-expansion-panel (opened)="item.open = true" (closed)="item.open = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
       {{ item.category }}
      </mat-panel-title>
      <mat-panel-description>
        {{ item.timeBox }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ item.description }}</p>
    <ng-container *ngIf="!item.chatId">
      <button mat-raised-button color="primary" (click)="offerHelp(item)">Zaoferuj swoją pomoc</button>
    </ng-container>
    <ng-container *ngIf="item.chatId">
      <button mat-raised-button color="secondary" disabled="true" (click)="offerHelp(item)" style="margin-right: 10px">
        Pomagam
      </button>
      <button mat-raised-button color="primary" (click)="openChat(item.chatId)">Chat</button>
    </ng-container>

  </mat-expansion-panel>
  </ng-container>
</mat-accordion>
