<mat-list>
  <mat-list-item *ngFor="let msg of messages | async"
                 [className]="msg.owner === 'VOLUNTEER' ? 'volunteer' : 'needy'">
    <span>{{ msg.content }}</span>
  </mat-list-item>
</mat-list>
<mat-divider style="margin-top: 2rem"></mat-divider>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Wpisz wiadomość...">
    </mat-form-field>
  </p>
  <button type="submit" mat-raised-button>Wyślij</button>
</form>
